.card {
  color: #162C42;
  background-color: rgb(238, 238, 238);
  padding: 10px;
  box-shadow: 0 0 5px #333;
  font-size: 1rem;
  width: 400px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  line-height: 0.4rem;
  border-left: 5px solid rgb(238, 238, 238);
}

.web {
  border-left: 5px solid rgb(255, 123, 0);
}

.ict {
  border-left: 5px solid rgb(81, 81, 255);
}

.backend { 
  border-left: 5px solid #01c70f;
}

img {
  height: 100px;
  flex: 1;
  padding: 1rem;
}

.content {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}

.empName {
  font-size: 1.5rem;
}

.promotion {
  height: 20px;
}

.promo {
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 100;
}

.subtle {
  font-weight: 300;
  font-size: 0.9rem;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #F7770F;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background-color: #ce5d00;
}

input {
  margin-top: 10px;
  width: 40px;
}

.smallTxt {
  font-size: 0.7rem;
}
