.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.formContainer label, .formContainer input {
  width: 100%;
  box-sizing: border-box;
}

.formContainer input {
  padding: 8px;
  font-size: 16px;
  margin: 0 0 16px 0;
  height: 35px;
}

.errorMessage {
  color: red;
  font-size: 1.2rem;
  margin-top: 10px;
}

.successMessage {
  color: green;
  font-size: 1.2rem;
  margin-top: 10px;
  background-color: aliceblue;
  border-radius: 5px;
  width: 250px;
  margin: 5px auto;
  font-family: inherit;
}